/* Estilo para la tarjeta */
.card {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
}

.card-header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

.card-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

/* Foto de perfil */
.foto-perfil {
    width: 30px; /* Aseguramos un tamaño fijo para las imágenes de perfil */
    height: 30px;
    cursor: pointer;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.foto-perfil-label {
    cursor: pointer;
}

.intereses {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    padding-bottom: 10px;
}

.badge {
    font-size: 100%;
}

/* Sección de publicaciones */
.publicaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    justify-items: center;
    padding-top: 20px;
}

.no-publicaciones {
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .publicaciones {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .publicaciones {
        grid-template-columns: 1fr;
    }
}

.publicacion {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 350px;
}

.publicacion-body img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.publicacion p {
    margin: 10px 0;
    text-decoration: none !important;
}

.acciones a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.acciones i {
    font-size: 20px;
}

.fecha {
    align-self: end;
}
